@font-face {
  font-family: Graphik-Light;
  src: url(GraphikLight.otf);
}

@font-face {
  font-family: Graphik-Regular;
  src: url(GraphikRegular.otf);
}

@font-face {
  font-family: Graphik-Semi;
  src: url(GraphikSemibold.otf);
}

@font-face {
  font-family: Graphik-Bold;
  src: url(GraphikBold.otf);
}

* { 
  font-family: Graphik-Light;
  color: #000000;
  font-size: 20px;
}

#semibold {
  font-family: Graphik-Semi;
}

#bold {
  font-family: Graphik-Bold;
}

body, .content {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 36px;
  /* border: solid 3px; */
}

footer .nav-left, footer .nav-right {
  padding-top: 64px;
  padding-bottom: 64px;
}

a.nav-item-right:link , a.nav-item-left:link {
  font-family: Graphik-Regular;
  color: #000000;
  text-decoration: underline;
}

a.nav-item-right:hover , a.nav-item-left:hover {
  font-family: Graphik-Semi;
  color: #EB7956;
  text-decoration: underline;
}

a.nav-item-right:hover , a.nav-item-left:hover {
  font-family: Graphik-Bold;
  color: #EB7956;
  text-decoration: none;
}

footer p, footer a {
  color: #EB7956;
}

h1 {
  font-family: Graphik-Semi;
  font-size: 64px;
  color: #E1A25D;
}

h2 {
  font-family: Graphik-Semi;
  font-size: 48px;
}

h3 {
  font-family: Graphik-Bold;
  font-size: 28px;
}

h4 {
  font-family: Graphik-Semi;
  font-size: 28px;
}

h5 {
  margin-top: -16px;
  font-size: 36px;
}

/* NAVIGATION BAR STYLING */
nav {
  height: 10vh;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.nav-left {
  float: left;
  width: 50%;
}

.nav-right {
  float: right;
  width: 50%;
}

.nav-right-item {
  padding-left: 36px;
  padding-top: 24px;
  padding-bottom: 24px;
  float: right;
  text-decoration: none;
}

.nav-left-item {
  padding-top: 24px;
  padding-bottom: 24px;
  float: left;
  text-decoration: none;
}

/* BODY STYLING */
#recent-work {
  width: 80%;
  /* outline: 1px solid; */
  margin-right: auto;
  margin-left: auto;
}

.thumbnail-large {
  width: 100%;
  height: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  /* border: 1px solid black; */
}

#thumbnail-cover {
  margin-left: 100px;
  margin-top: 30px;
}

/* ABOUT STYLING */
#about-who, #about-how, #about-where {
  width: 30%;
  padding: 16px;
  float: left;
}

/* COSTAR STYLING */
.thumbnail-casestudy {
  height: 90vh;
  /* outline: 2px solid; */
  margin-left: auto;
  margin-right: auto;
}

.thumbnail-casestudy img {
  width: 100%;
  height: auto;
  /* border: 2px solid; */
}

.casestudy-content {
  margin-left: auto;
  margin-right: auto;
}


.casestudy-component {
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.casestudy-component img {
  width: 90%;
  height: auto;
  padding: 24px;
  display: block;
} 

.component-left, .component-right {
  width: 48%;
  padding-left: 16px;
  float: left;
  /* border: 2px solid; */
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#costar-background, #sellinglater-background, #dailydetour-background {
  padding-top: 72px;
}

#costar-lofi {
  width: 45%;
}

#grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  padding: 24px;
  align-items: center;
}

#dailydetour-solution3 {
  width: 50%;
}

.grid-container-play {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
}